<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-lg p-5 mt-5 mb-5">
        <h1>Welcome Here!</h1><hr>
        <div [ngClass]="className" role="alert">
        {{message}}<a routerLink="/login" class="text-primary" style="cursor:pointer;">Login here</a>
          <!-- Account has been created! <a routerLink="/login" class="text-primary" style="cursor:pointer">Login here</a> -->
        </div>
        <form [formGroup]="signupForm" class="text-left">
          <div class="form-group">
            <label>Display Name</label>
            <input type="text" class="form-control" id="displayName" placeholder="username" formControlName="displayName" required>
            <!-- <div *ngIf="displayName.invalid && (displayName.dirty || displayName.touched)" class="alert-alert-danger">

            <div *ngIf ="displayName.errors?.['required']">Name is required</div>
            <div *ngIf="name.errors?.[minLength]">Name must be at least 3 Characters long</div>
            </div> -->
            <label>Email</label>
            <input type="email" class="form-control" placeholder="Email Id here" formControlName="email">
            <label>Password</label>
            <input type="password" class="form-control" placeholder="*****" formControlName="password">
             <!-- <label>Display Name</label>
            <input type="text" class="form-control" placeholder="*****"> -->
            <label>Mobile Number</label>
            <input type="number" class="form-control" placeholder="Enter 10 digit Mobile Number" formControlName="mobileNumber">
            <label>Company Name</label>
            <input type="text" class="form-control" placeholder="Enter Company Name"  formControlName="companyName">

          </div>
          <button class="btn btn-outline-primary btn-block" (click)="signup()">Create Account</button>
          <br>
        </form>
      </div>
    </div>
  </div>
</div>
