<div>
  <div>
  <app-navbar></app-navbar>
  </div>
 <main>
  <div class="search-hero">
    <input type="text" [(ngModel)] = "query" placeholder="Search for news">
    <button (click) = "search()">Search</button>
    <ul>
      <!-- <li *ngFor="let article of articless">{{article.title}}</li> -->
    </ul>
  </div>



  <div class="container-fluid">
    <div class="row mb-3">
      <div *ngFor = "let data of newsList | filter:query" class="col-lg-3 mt-3 mb-3">
        <div class="box">
          <h3>{{data.author}}</h3>
          <img src="{{data.urlToImage}}" width="100%" alt="">
          <h5 class="mt-3 mb-3">{{data.title}}</h5>
          <p>{{data.content}}</p>
          <a href="{{data.url}}">Read More</a>
        </div>
      </div>
    </div>
  </div>

</main>


<div>
  <app-footer> </app-footer>
</div>
</div>
